@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;500;700&display=swap');

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: bisque;
}

body {
  background: linear-gradient(-45deg, #5f5f5f, #a8e8ff, #70eccf, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}